<div>
    <div class="button-header">
        <button type="button" class="btn btn-primary">Add Contact</button>
    </div>
<table class="conatact-table">
    <thead class="table-header">
  <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone#</th>
      <th>Address</th>
      <th>Get Direction</th>
  </tr>  
</thead>
<tbody class="table-body">
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>

<tr>
    <td>krishna</td>
    <td>krishnarajchinnannan@gmail.com</td>
    <td>9894676897</td>
    <td>6-42 chettipatti bridge, arasiramani, kullampatti, sankari taluk, salem -637101</td>
    <td>map</td>
</tr>
</tbody>
</table>
</div>